# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/
dist/

# Env (le symlink reste mais on ne push pas le contenu cible)
.env*.local
!.env.example

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
next-env.d.ts
